global
    log stdout format raw local0
    maxconn 2048

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client  60s
    timeout server  60s

frontend mariadb_front
    bind *:3306
    default_backend mariadb_back

backend mariadb_back
    option tcp-check
    tcp-check connect port 3306
    server db-master db-master:3306 check inter 2s fall 3 rise 2
    server db-slave db-slave:3306 check backup inter 2s fall 3 rise 2
